version: '3.8'

services:
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: django_app
    environment:
      # Only pass the Vault Name; Django will fetch the rest
      - AZURE_VAULT_NAME=your-keyvault-name 
      - DEBUG=True
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  celery:
    build: .
    command: celery -A task_manager worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
      